@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  /* color: rgb(91,52,218); */
  font-size: 35px;
  font-weight: bolder;
  background: -webkit-linear-gradient(rgb(91,52,218), rgb(53,142,241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: rgb(91,52,218);
}
.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: rgb(91,52,218);
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}

.blog-details h2 {
  font-size: 30px;
  color: rgb(91,52,218);
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: rgb(91,52,218);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.blog-details button{background-image: linear-gradient(to right,rgb(91,52,218), rgb(53,142,241))}
.blog-details button {
   margin: 10px;
   padding: 10px 35px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 8px;
   /* display: block; */
 }

 .blog-details button:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }


/* create new blog form */
.create {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: rgb(91,52,218);
  margin-bottom: 30px;
}

.create .quill {
  /* height: 100px; */
  margin: 30px 0px;
  /* display: block; */
  width: 100%;
  /* padding: 6px 10px; */
  margin: 10px 0;
  /* border: 1px solid #ddd; */
  /* box-sizing: border-box; */
  display: block;
  /* overflow: hidden; */
  
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
/* .create button {
  /* background: rgb(91,52,218); */
  /* background: -webkit-linear-gradient(rgb(91,52,218), rgb(53,142,241)); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; 
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
} */

.create button {background-image: linear-gradient(to right,rgb(91,52,218), rgb(53,142,241))}
.create button {
   margin: 10px;
   padding: 10px 35px;
   /* text-align: center; */
   text-transform: uppercase;
   transition: 0.5s;
   /* background-size: 200% auto; */
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 8px;
   cursor: pointer;
   /* display: block; */
 }

 .create button:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 }

 @media only screen and (max-width: 600px) {
  .navbar h1 {
    /* color: rgb(91,52,218); */
    font-size: 25px;
  }
}